html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario 
            h1= nombrePagina 
            //- if locals.mensajes
            //-     .alertas 
            //-         each categoria in Object.keys(locals.mensajes)
            //-             each e in mensajes[categoria]
            //-                 .alerta(class=`${categoria}`)
            //-                     p= e
            p Actualiza tu contraseña
            form.caja-login(method="POST")
                .campo 
                    label(for='password') Contraseña: 
                    input(type='password' name='password' placeholder='Nueva Contraseña')

                .campo.enviar
                    input.boton(type='submit' value='Restablecer')