doctype html
html(lang="ens")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Restablecer contrase침a
        p Hola, has solicitado restablecer tu contrasena, haz click en el siguiente enlace para restablecerla.

        a(href=`${resetUrl}`) Restablecer contrase침a

        p Si no puedes hacer click en el enlace, copia y pega la siguiente direcci칩n en tu navegador: #{resetUrl}
        p Si no has solicitado restablecer tu contrase침a, ignora este correo.